* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 16px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #6366f1;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4f46e5;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.short-url {
  flex: 1;
  padding: 12px;
  background: #0f172a;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.short-url-block {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: stretch;
}

.copy-btn {
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  background: #10b981;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.copy-btn:hover {
  background: #059669;
}